input {
	height: 4rem;
	padding: 0 1rem;
}

input,
label,
textarea {
	float: left;
	clear: both;
}
label {
	text-transform: capitalize;
}
textarea {
	height: auto;
}
input[type="radio"] {
	float: left;
	clear: left;
	margin-right: 1rem !important;
}
input[type="radio"] + label {
	float: left;
	clear: right;
	line-height: 1;
	height: 4rem;
}

fieldset {
	margin: 0;
}
