input {
	height: 40px;
	padding: 0 1em;
}

input,
label,
textarea {
	float: left;
	clear: both;
}

input[type="radio"] {
	float: left;
	clear: left;
}
input[type="radio"] + label {
	float: left;
	clear: right;
	line-height: 40px;
}
