input {
	height: 40px;
	padding: 0 1em;
}

input,
label,
textarea {
	float: left;
	clear: both;
}

input[type="radio"] {
	float: left;
	clear: left;
	margin-right: 1rem !important;
}
input[type="radio"] + label {
	float: left;
	clear: right;
	line-height: 1;
	height: 40px;
}

fieldset {
	margin: 0;
}
