.Page-footer {
	background: var(--ti-color-light-grey);
	padding-bottom: 2rem;
}
.Page-footerContent {
	display: grid;
	grid-template: "branding menu1 menu2 menu3" auto;
	grid-template-columns: 1fr auto auto auto;
}
@media only screen and (max-width: 900px) {
	.Page-footerContent {
		grid-template:
			"branding" auto
			"menu1" auto
			"menu2" auto
			"menu3" auto;
		grid-template-columns: 1fr;
	}
}
.Page-footerBranding {
	grid-area: branding;
}
.Page-footerNav {
	flex: 0 0 auto;
	margin: 0 1rem;
	grid-area: menu;
}
.Page-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.Page-footer ul li {
	margin: 0;
	padding: 0;
}
