.Explore {
	margin: 8rem 0;
}
.Explore-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Explore-features {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.Explore-feature {
	text-align: center;
	flex: 0 0 20%;
	margin: 0;
}

.Explore-featurePhoto {
	width: 100%;
	max-width: 300px;
	clear: both;
	object-fit: cover;
}
