.ExpenseModal {
	width: 80ch;
	padding: 4rem;
	border: 2px solid var(--ti-color-black);
}
.ExpenseModal-closeButton {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

@media screen and (max-width: 900px) {
	.ExpenseModal {
		width: 94vw;
		width: 94svw;
		padding: 1rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
