.ExpenseModal {
	width: 80ch;
	padding: 4rem;
	overflow: hidden;
	position: relative;
	border: 2px solid var(--ti-color-black);
}
.ExpenseModal-closeButton {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}
