.Page-header {
	background: var(--ti-color-light-grey);
}
.Page-headerContent {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
}

.Page-headerTitle {
}
.Page-headerNav {
	display: flex;
	align-items: center;
	gap: 1rem;
}
@media screen and (max-width: 900px) {
	.Page-headerNav {
		flex-flow: row wrap;
	}
}
.Page-headerNavLink {
	color: var(--ti-brand-color);
	line-height: 1.5;
}

.Page-headerNavLink.active {
	font-weight: 600;
}
