.Story {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 12rem 0;
}

.Story:nth-child(even) {
	flex-direction: row-reverse;
}
.Story-image {
	height: 200px;
	aspect-ratio: 4/3;
	object-fit: cover;
	flex: 0 1 30%;
}
.Story-caption {
	flex: 0 1 40%;
}

@media screen and (max-width: 900px) {
	.Story {
		flex-flow: column;
		margin: 2rem 0;
	}

	.Story-image {
		width: 300px;
	}
	.Story:nth-child(even) {
		flex-direction: column;
	}
}
