.Credentials {
	width: 100vw;
	background: var(--ti-color-light-grey);
	display: grid;
	place-items: center;
}
.Credentials-quote {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-style: italic;
	font-family: "Georgia", serif;
}
.Credentials-author {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Credentials-authorPhoto {
	width: 80px;
	border-radius: 50%;
}
