.Credentials {
	width: 100vw;
	background: wheat;
	display: grid;
	place-items: center;
}
.Credentials-quote {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Credentials-author {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Credentials-authorPhoto {
	width: 80px;
	border-radius: 50%;
}
