.Alert {
	background: var(--ti-color-light-grey);
	border: 2px solid var(--ti-color-green);
	color: var(--ti-color-green);
	display: flex;
	align-items: center;
	padding: 1rem;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 50%;
	min-width: 40ch;
	transform: translate(-50%, -50%);
}
.Alert:empty {
	display: none;
}
