.Page {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	min-height: 100svh;
}
.Page-header,
.Page-footer {
	flex: 0 0 auto;
}
.Page-content {
	flex: 1 1 100%;
	padding: 0 0 8rem;
	overflow: hidden;
}
